body {
	min-height: 2000px;
	padding-top: 70px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* 	padding: 10px; */
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#checkout_heading {
	background-color: #16B594;
	color: white;
}

#continue_button {
	margin-top: 10px;
	margin-bottom: 5px;
}

.panel {
	border-top: none;
}

#password {
	display: none;
	padding: 10px;
}

#forgot_password_div {
	display: none;
}

#verification_destination {
	color: orange;
}

.verification_destination {
	color: green;
	margin-bottom: 20px;
	font-style: italic;
}

#forgot_password {
	display: none;
	cursor: pointer;
}

#forgot_password_textbox {
	margin-top: 20px;
}

#tick {
	display: none;
	margin-left: 10px;
	float: left;
}

#wrong {
	display: none;
	margin-left: 10px;
	float: left;
}

#verification_code_textbox {
	float: left;
}

#left {
	float: left;
	width: 80%;
}

#right {
	float: left;
}

#resend {
	cursor: pointer;
}

#verification_msg_div {
	margin-bottom: 10px;
}

#panel_overall {
	border-radius: 0px 0px 5px 5px;
}

#login_failed_message {
	display: none;
	color: red;
	margin-bottom: 10px;
}

#loggingin_as_message {
	color: gray;
}

.change_email_link {
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 3px;
}

#change_link_div {
	display: none;
	margin-bottom: 20px;
}

#loggedin_as_label {
	text-transform: uppercase;
	font-weight: bold;
	color: green;
}

.left_label_div {
	float: left;
	/* width: 30%; */
	padding-right: 20px;
	text-align: right;
}

.right_control_div {
	float: left;
}

.add_address_label {
	
}

#modal_content {
	height: 400px;
}

.text_box_address {
	
}

.add_address_form {
	padding: 0px;
	margin: 0px;
	max-width: 100%;
}

#add_address_form {
	padding: 0px;
	width: 100%;
}

.address_control {
	margin-top: 5px;
	margin-bottom: 15px;
}

#mobile_textbox {
	
}

#emailmobile_textbox {
	padding: 10px;
}

#add_address_submit {
	float: right;
	padding: 7px;
}

#add_address_button {
	width: 30%;
	padding: 6px;
}

#current_address_div {
	
}

#current_address_text {
	margin-top: 25px;
}

#current_address__display_div {
	
}

#name_text {
	font-weight: bold;
	text-transform: uppercase;
}

#change_address {
	color: blue;
	font-weight: bold;
	cursor: pointer;
}

#left_column {
	
}

#address_modal_row {
	margin: 0px;
	padding: px;
}

#right_address_list {
	padding-left: 0px;
	/* margin-left: 5px; */
	overflow: scroll;
	height: 370px;
}

.individual_address {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
}

.individual_address:hover {
	background: gray;
	cursor: pointer;
}

.name_div_ind {
	padding-bottom: 1px solid gray;
}

.mobile_div_ind {
	padding-top: 10px;
}

.address_div_ind {
	border-top: 1px solid gray;
	padding-top: 10px;
}

.country_div_ind {
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}

.label_left {
	width: 300px;
	padding-right: 30px;
	text-align: right;
}