/* -------------------------------- 

Primary style

-------------------------------- */
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", sans-serif;
	color: #31353d;
	background-color: #eeeff7;
}

body.overflow-hidden {
	/* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
	overflow: hidden;
}

a {
	color: #435779;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
	/* this class is used to horizontally align the gallery of items */
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

.cd-img-replace {
	/* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */
header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	z-index: 4;
}

@media only screen and (min-width: 1200px) {
	header {
		height: 80px;
	}
}

#logo {
	padding-top: 5px;
	/* delete this property if you don't want your logo to scale down on mobile devices */
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

@media only screen and (min-width: 1200px) {
	#logo {
		padding-top: 20px;
		position: absolute;
		/* logo left margin on Dekstop */
		left: 2.4em;
		top: 0;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

#cd-hamburger-menu, #cd-cart-trigger {
	position: absolute;
	top: 0;
	height: 100%;
}

#cd-hamburger-menu a, #cd-cart-trigger a {
	width: 60px;
	height: 100%;
}

#cd-hamburger-menu {
	left: 0;
}

#cd-hamburger-menu a {
	background: #26292f url("../images/cd-hamburger-menu.svg") no-repeat
		center center;
}

@media only screen and (min-width: 1200px) {
	#cd-hamburger-menu {
		display: none;
	}
}

#cd-cart-trigger {
	right: 0;
}

#cd-cart-trigger a {
	background: #26292f url("../images/cd-cart.svg") no-repeat center center;
}

@media only screen and (min-width: 1200px) {
	#cd-cart-trigger {
		/* cart right margin on desktop */
		right: 0;
	}
	#cd-cart-trigger a {
		position: relative;
		width: 100px;
		border-left: none;
		background-color: #26292f;
	}
}

#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;
	/* header height */
	padding-top: 50px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

@media only screen and (min-width: 768px) {
	#main-nav, #cd-cart {
		width: 350px;
	}
}

@media only screen and (min-width: 1200px) {
	#main-nav, #cd-cart {
		width: 30%;
		/* header height has changed */
		padding-top: 80px;
	}
}

#cd-cart {
	right: -100%;
	background: #FFF;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	transition: right 0.3s;
}

#cd-cart.speed-in {
	right: 0;
}

#cd-cart>* {
	padding: 0 1em;
}

#cd-cart h2 {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;
}

#cd-cart .cd-cart-items {
	padding: 0;
}

#cd-cart .cd-cart-items li {
	position: relative;
	padding: 1em;
	border-top: 1px solid #e0e6ef;
}

#cd-cart .cd-cart-items li:last-child {
	border-bottom: 1px solid #e0e6ef;
}

#cd-cart .cd-qty, #cd-cart .cd-price {
	color: #a5aebc;
}

#cd-cart .cd-price {
	/**margin-top: .4em;**/
	
}

#cd-cart .cd-item-remove {
	position: absolute;
	right: 1em;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: url("../images/cd-remove-item.svg") no-repeat center center;
}

.no-touch #cd-cart .cd-item-remove:hover {
	background-color: #e0e6ef;
}

#cd-cart .cd-cart-total {
	padding-top: 1em;
	padding-bottom: 1em;
}

#cd-cart .cd-cart-total span {
	float: right;
}

#cd-cart .cd-cart-total::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

#cd-cart .checkout-btn {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #7dcf85;
	color: #FFF;
	text-align: center;
}

.no-touch #cd-cart .checkout-btn:hover {
	background: #a2dda8;
}

#cd-cart .cd-go-to-cart {
	text-align: center;
	margin: 1em 0;
}

#cd-cart .cd-go-to-cart a {
	text-decoration: underline;
}

@media only screen and (min-width: 1200px) {
	#cd-cart>* {
		padding: 0 2em;
	}
	#cd-cart .cd-cart-items li {
		padding: 1em 2em;
	}
	#cd-cart .cd-item-remove {
		right: 2em;
	}
}

xkeyframes 

 -------------------------------- * /
 @-webkit-keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity




























:














 














1;
}
}
@
-moz-keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity




























:














 














1;
}
}
@
keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity




























:














 














1;
}
}
.cart_td {
	padding: 0px 3px;
}

.empty_cart {
	padding-top: 90px;
	padding-left: 20px;
	color: gray;
	font-size: 20px;
	font-weight: bold;
}

/** login drop down **/
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: #eee;
	border-bottom: 1px solid #fff;
	border-radius: 3px;
}

nav li {
	float: left;
}

nav #login {
	border-right: 1px solid #ddd;
	box-shadow: 1px 0 0 #fff;
}

nav #login-trigger, nav #signup a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	padding: 0 8px;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav #signup a {
	border-radius: 0 3px 3px 0;
}

nav #login-trigger {
	border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover, nav #login .active, nav #signup a:hover {
	background: #fff;
}

nav #login-content {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 999;
	background: #fff;
	background-image: linear-gradient(top, #fff, #eee);
	padding: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
	border-radius: 3px 0 3px 3px;
}

nav li #login-content {
	right: 0;
}

/*--------------------*/
#inputs input {
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 0 0 5px 0;
	width: 238px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#login #actions {
	margin: 10px 0 0 0;
}

#login #submit {
	background-color: #d14545;
	background-image: linear-gradient(top, #e97171, #d14545);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3)
		inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #fff;
}

#login #submit:hover, #login #submit:focus {
	background-color: #e97171;
	background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
	border: none;
}

#login label {
	float: right;
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}

.login_div {
	margin-right: 120px;
}

/** end login **/