/* -------------------------------- 

Primary style

-------------------------------- */
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", sans-serif;
	color: #31353d;
	background-color: #eeeff7;
}

body.overflow-hidden {
	/* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
	overflow: hidden;
}

a {
	color: #435779;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
	/* this class is used to horizontally align the gallery of items */
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

.cd-img-replace {
	/* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */
header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	z-index: 4;
}

@media only screen and (min-width: 1200px) {
	header {
		height: 80px;
	}
}

#logo {
	padding-top: 5px;
	/* delete this property if you don't want your logo to scale down on mobile devices */
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

@media only screen and (min-width: 1200px) {
	#logo {
		padding-top: 20px;
		position: absolute;
		/* logo left margin on Dekstop */
		left: 2.4em;
		top: 0;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

#cd-hamburger-menu, #cd-cart-trigger {
	position: absolute;
	top: 0;
	height: 100%;
}

#cd-hamburger-menu a, #cd-cart-trigger a {
	width: 60px;
	height: 100%;
}

#cd-hamburger-menu {
	left: 0;
}

#cd-hamburger-menu a {
	background: #26292f url("../images/cd-hamburger-menu.svg") no-repeat
		center center;
}

@media only screen and (min-width: 1200px) {
	#cd-hamburger-menu {
		display: none;
	}
}

#cd-cart-trigger {
	right: 0;
}

#cd-cart-trigger a {
	background: #26292f url("../images/cd-cart.svg") no-repeat center center;
}

@media only screen and (min-width: 1200px) {
	#cd-cart-trigger {
		/* cart right margin on desktop */
		right: 0;
	}
	#cd-cart-trigger a {
		position: relative;
		width: 100px;
		border-left: none;
		background-color: #26292f;
	}
}

#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;
	/* header height */
	padding-top: 50px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

@media only screen and (min-width: 768px) {
	#main-nav, #cd-cart {
		width: 350px;
	}
}

@media only screen and (min-width: 1200px) {
	#main-nav, #cd-cart {
		width: 30%;
		/* header height has changed */
		padding-top: 80px;
	}
}

#cd-cart {
	right: -100%;
	background: #FFF;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	transition: right 0.3s;
}

#cd-cart.speed-in {
	right: 0;
}

#cd-cart>* {
	padding: 0 1em;
}

#cd-cart h2 {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;
}

#cd-cart .cd-cart-items {
	padding: 0;
}

#cd-cart .cd-cart-items li {
	position: relative;
	padding: 1em;
	border-top: 1px solid #e0e6ef;
}

#cd-cart .cd-cart-items li:last-child {
	border-bottom: 1px solid #e0e6ef;
}

#cd-cart .cd-qty, #cd-cart .cd-price {
	color: #a5aebc;
}

#cd-cart .cd-price {
	/**margin-top: .4em;**/
	
}

#cd-cart .cd-item-remove {
	position: absolute;
	right: 1em;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: url("../images/cd-remove-item.svg") no-repeat center center;
}

.no-touch #cd-cart .cd-item-remove:hover {
	background-color: #e0e6ef;
}

#cd-cart .cd-cart-total {
	padding-top: 1em;
	padding-bottom: 1em;
}

#cd-cart .cd-cart-total span {
	float: right;
}

#cd-cart .cd-cart-total::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

#cd-cart .checkout-btn {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #7dcf85;
	color: #FFF;
	text-align: center;
}

.no-touch #cd-cart .checkout-btn:hover {
	background: #a2dda8;
}

#cd-cart .cd-go-to-cart {
	text-align: center;
	margin: 1em 0;
}

#cd-cart .cd-go-to-cart a {
	text-decoration: underline;
}

@media only screen and (min-width: 1200px) {
	#cd-cart>* {
		padding: 0 2em;
	}
	#cd-cart .cd-cart-items li {
		padding: 1em 2em;
	}
	#cd-cart .cd-item-remove {
		right: 2em;
	}
}

xkeyframes 

 -------------------------------- * /
 @-webkit-keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity




:


 


1;
}
}
@
-moz-keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity




:


 


1;
}
}
@
keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity




:


 


1;
}
}
.cart_td {
	padding: 0px 3px;
}

.empty_cart {
	padding-top: 90px;
	padding-left: 20px;
	color: gray;
	font-size: 20px;
	font-weight: bold;
}


.bootstrap-dialog .modal-header{border-top-left-radius:4px;border-top-right-radius:4px}.bootstrap-dialog .bootstrap-dialog-title{color:#fff;display:inline-block;font-size:16px}.bootstrap-dialog .bootstrap-dialog-message{font-size:14px}.bootstrap-dialog .bootstrap-dialog-button-icon{margin-right:3px}.bootstrap-dialog .bootstrap-dialog-close-button{font-size:20px;float:right;filter:alpha(opacity=90);-moz-opacity:.9;-khtml-opacity:.9;opacity:.9}.bootstrap-dialog .bootstrap-dialog-close-button:hover{cursor:pointer;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.bootstrap-dialog.type-default .modal-header{background-color:#fff}.bootstrap-dialog.type-default .bootstrap-dialog-title{color:#333}.bootstrap-dialog.type-info .modal-header{background-color:#5bc0de}.bootstrap-dialog.type-primary .modal-header{background-color:#428bca}.bootstrap-dialog.type-success .modal-header{background-color:#5cb85c}.bootstrap-dialog.type-warning .modal-header{background-color:#f0ad4e}.bootstrap-dialog.type-danger .modal-header{background-color:#d9534f}.bootstrap-dialog.size-large .bootstrap-dialog-title{font-size:24px}.bootstrap-dialog.size-large .bootstrap-dialog-close-button{font-size:30px}.bootstrap-dialog.size-large .bootstrap-dialog-message{font-size:18px}.bootstrap-dialog .icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}