body {
	min-height: 2000px;
	padding-top: 70px;
}

@media ( min-width : 1000px) {
	.container {
		/**width: 1008px;**/
		
	}
}

.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}

.static_top {
	margin: 0 auto;
	width: 843px;
}

#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}

#bar {
	width: 0%;
	max-width: 100%;
	height: 4px;
	background: #7fc242;
}

#progressBar {
	width: 100%;
	background: #EDEDED;
}

#search_div {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 65%;
}

.nav-list {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}

.nav-list-main {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0;
}

span.nav-toggle-icon {
	font-size: 7px !important;
	top: -2px !important;
	color: #888 !important;
}

.checkboxes {
	height: 150px;
	overflow-y: scroll;
}

.txtFilter {
	border: 1px solid #DCDCDC;
	width: 100%;
	margin-bottom: 10px;
}

.refiner_shrink_button {
	color: #FFFFFF;
	margin: 5px;
	border: none;
	background-color: #3174AF;
	text-align: left;
	width: 95%;
}

.refiners_scroll {
	height: 150px;
	overflow-y: scroll;
	padding-top: 10px;
}

.refiners_scroll label {
	color: black;
	margin-left: 10px;
	font-weight: normal;
}

.refiner {
	
}

.panel-heading .refiner {
	height: 30px;
	padding: 0px;
}

.panel-heading {
	padding: 0px;
}

.product {
	padding-left: 5px;
	padding-right: 5px;
}

.product_container {
	padding-left: 45px;
}

.thumbnail:hover {
	border-color: #337AB7;
	/*no need to specify border-style and border-width again*/
}

.price_info {
	border-top: 1px dotted gray;
}

.actual_price {
	text-decoration: line-through;
	color: gray;
	font-size: 14px;
}

.price {
	font-weight: bold;
	font-size: 14px;
}

.offer {
	color: #6FBA54;
	font-size: 15px;
}

.product_row {
	margin-bottom: 15px;
}

.rating_div {
	padding-bottom: 10px;
}

.caption {
	word-wrap: break-word;
}

.product_name_div {
	min-height: 27px;
}

.thumbnail_images {
	min-height: 233px;
}

#loader-icon {
	text-align: center;
	display: none;
}

#loader-icon_left {
	text-align: center;
	display: none;
}

/** start back to top button **/
.cd-container {
	width: 90%;
	max-width: 768px;
	margin: 2em auto;
}

.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg)
		no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

/** end back to top button **/
.enable {
	opacity: 1;
}

#sort_div_left {
	
}

#sort_div_right {
	display: flex;
	flex-direction: column;
}

#sort_div_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 7px;
	margin-bottom: 10px;
}

.breadcrumb {
	margin-right: 7px;
	margin-bottom: 10px;
}

#sort_by_text {
	color: #b2b2b2;
	font-size: 12px;
	margin-right: 4px;
	margin-top: 8px;
	float: left;
}

.dropdown-menu {
	font-size: 13px;
}

.sort_button, .sort_button:hover, .sort_button:focus {
	font-size: 13px;
	padding: 4px 10px;
	line-height: 1.50;
	border-color: blue;
	background-color: #3174AF;
	background-image: none;
}

.refiner_buttons {
	background-color: white;
	background-image: none;
	border-color: blue;
	color: black;
	margin: 0px 2px;
}